
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #eeeeee 0%, #fff5be 100%);
    padding: 0 20px;
    height: 80px;
    z-index: 10; /* Ensure navbar stays on top */
    position: relative; /* Keeps navbar above carousel */
    border-bottom:1px solid #b89c00;
  }
  
  .navbar-logo img {
    height: 150px; /* Adjust size as needed */
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px; /* Space between menu items */
    margin-bottom: 70px;
  }
  
  .navbar-menu li a {
    color: rgb(26, 26, 26); /* Menu text color */
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-menu li a:hover {
    background-color: #555; /* Hover effect */
    border-radius: 5px;
  }
  
  .navbar-user {
   
    cursor: pointer;
    font-size: 35px;
    margin-bottom: 60px;
    margin-right: 40px;
    font-weight: bolder;
  }
  
  .navbar-user img:hover {
    opacity: 0.8; /* Hover effect on user icon */

  }
  
  .egg {
 position: absolute;
margin-top: 80px;
margin-left: 250px;
  }
  